<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.fun.likechat.persistence.mapper.AppUpdateMapper">
	<!-- 根据情况定制属性列表
	<resultMap id="RM.AppUpdate" type="com.fun.likechat.po.AppUpdate">
		<result property="id" column="id"/>
		<result property="version" column="version"/>
		<result property="newVersion" column="new_version"/>
		<result property="isForce" column="is_force"/>
		<result property="url" column="url"/>
		<result property="desc" column="desc"/>
		<result property="timeLimit" column="time_limit"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	-->

	<!-- 查询公用抽取的列 -->
	<sql id="columns_all">
	    <![CDATA[
		id,version,new_version,is_force,url,desc,time_limit,create_time
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_app_update (
        	id,
        	version,
        	new_version,
        	is_force,
        	url,
        	desc,
        	time_limit,
        	create_time
        ) VALUES (
        	#{id},
        	#{version},
        	#{newVersion},
        	#{isForce},
        	#{url},
        	#{desc},
        	#{timeLimit},
        	#{createTime}
        )
    ]]>
	</insert>

	<update id="update" parameterType="com.fun.likechat.persistence.po.AppUpdate">
        UPDATE t_app_update 
		<set>
	        <if test="version != null">
	        	version = #{version},
	        </if>
	        <if test="newVersion != null">
	        	new_version = #{newVersion},
	        </if>
	        <if test="isForce != null">
	        	is_force = #{isForce},
	        </if>
	        <if test="url != null">
	        	url = #{url},
	        </if>
	        <if test="desc != null">
	        	desc = #{desc},
	        </if>
	        <if test="timeLimit != null">
	        	time_limit = #{timeLimit},
	        </if>
	        <if test="createTime != null">
	        	create_time = #{createTime}
	        </if>
	    </set>
        WHERE
	        id = #{id}
	</update>

	<delete id="deleteById">
        DELETE FROM t_app_update WHERE
        id = #{id}
	</delete>

	<select id="getById" resultType="com.fun.likechat.persistence.po.AppUpdate">
		SELECT
			*
		FROM
			t_app_update 
	    WHERE
	        id = #{id} 
	</select>

	<!-- 查询条件where,如果有时间范围查询，参数必须是startTime 和 endTime -->
	<sql id="where">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="version != null">
				AND version = #{version}
			</if>
			<if test="newVersion != null">
				AND new_version = #{newVersion}
			</if>
			<if test="isForce != null">
				AND is_force = #{isForce}
			</if>
			<if test="url != null">
				AND url = #{url}
			</if>
			<if test="desc != null">
				AND desc = #{desc}
			</if>
			<if test="timeLimit != null">
				AND time_limit = #{timeLimit}
			</if>
			<if test="startTime != null">
	       	<![CDATA[
				AND create_time >= #{startTime} 
			]]>
			</if>
			<if test="endTime != null">
			<![CDATA[
				AND create_time < #{endTime}
			]]>
			</if>
		</where>
	</sql>
	
	<sql id="whereForPo">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="version != null">
				AND version = #{version}
			</if>
			<if test="newVersion != null">
				AND new_version = #{newVersion}
			</if>
			<if test="isForce != null">
				AND is_force = #{isForce}
			</if>
			<if test="url != null">
				AND url = #{url}
			</if>
			<if test="desc != null">
				AND desc = #{desc}
			</if>
			<if test="timeLimit != null">
				AND time_limit = #{timeLimit}
			</if>
		</where>
	</sql>	

	<select id="count" parameterType="java.util.Map" resultType="int">
		SELECT count(*) FROM t_app_update
		<include refid="where" />
	</select>

	<select id="getListByMap" parameterType="java.util.Map" resultType="com.fun.likechat.persistence.po.AppUpdate">
		SELECT 
			*
		FROM
			t_app_update 
	    <include refid="where" />
	    ${limit}
	</select>
	
	<select id="getListByPo" parameterType="com.fun.likechat.persistence.po.AppUpdate" resultType="com.fun.likechat.persistence.po.AppUpdate">
		SELECT 
			*
		FROM 
			t_app_update 
	    <include refid="whereForPo" />
	</select>
</mapper>

