<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.fun.likechat.persistence.mapper.ActorDynamicPvMapper">
	<!-- 根据情况定制属性列表
	<resultMap id="RM.ActorDynamicPv" type="com.fun.likechat.po.ActorDynamicPv">
		<result property="id" column="id"/>
		<result property="actorId" column="actor_id"/>
		<result property="dynamicId" column="dynamic_id"/>
		<result property="type" column="type"/>
		<result property="savePath" column="save_path"/>
		<result property="price" column="price"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	-->

	<!-- 查询公用抽取的列 -->
	<sql id="columns_all">
	    <![CDATA[
		id,actor_id,dynamic_id,type,save_path,price,create_time
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_actor_dynamic_pv (
        	id,
        	actor_id,
        	dynamic_id,
        	type,
        	save_path,
        	price,
        	create_time
        ) VALUES (
        	#{id},
        	#{actorId},
        	#{dynamicId},
        	#{type},
        	#{savePath},
        	#{price},
        	#{createTime}
        )
    ]]>
	</insert>

	<update id="update" parameterType="com.fun.likechat.persistence.po.ActorDynamicPv">
        UPDATE t_actor_dynamic_pv 
		<set>
	        <if test="actorId != null">
	        	actor_id = #{actorId},
	        </if>
	        <if test="dynamicId != null">
	        	dynamic_id = #{dynamicId},
	        </if>
	        <if test="type != null">
	        	type = #{type},
	        </if>
	        <if test="savePath != null">
	        	save_path = #{savePath},
	        </if>
	        <if test="price != null">
	        	price = #{price},
	        </if>
	        <if test="createTime != null">
	        	create_time = #{createTime}
	        </if>
	    </set>
        WHERE
	        id = #{id}
	</update>

	<delete id="deleteById">
        DELETE FROM t_actor_dynamic_pv WHERE
        id = #{id}
	</delete>

	<select id="getById" resultType="com.fun.likechat.persistence.po.ActorDynamicPv">
		SELECT
			*
		FROM
			t_actor_dynamic_pv 
	    WHERE
	        id = #{id} 
	</select>

	<!-- 查询条件where,如果有时间范围查询，参数必须是startTime 和 endTime -->
	<sql id="where">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="actorId != null">
				AND actor_id = #{actorId}
			</if>
			<if test="dynamicId != null">
				AND dynamic_id = #{dynamicId}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="savePath != null">
				AND save_path = #{savePath}
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
			<if test="startTime != null">
	       	<![CDATA[
				AND create_time >= #{startTime} 
			]]>
			</if>
			<if test="endTime != null">
			<![CDATA[
				AND create_time < #{endTime}
			]]>
			</if>
		</where>
	</sql>
	
	<sql id="whereForPo">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="actorId != null">
				AND actor_id = #{actorId}
			</if>
			<if test="dynamicId != null">
				AND dynamic_id = #{dynamicId}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="savePath != null">
				AND save_path = #{savePath}
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
		</where>
	</sql>	

	<select id="count" parameterType="java.util.Map" resultType="int">
		SELECT count(*) FROM t_actor_dynamic_pv
		<include refid="where" />
	</select>

	<select id="getListByMap" parameterType="java.util.Map" resultType="com.fun.likechat.persistence.po.ActorDynamicPv">
		SELECT 
			*
		FROM
			t_actor_dynamic_pv 
	    <include refid="where" />
	</select>
	
	<select id="getListByPo" parameterType="com.fun.likechat.persistence.po.ActorDynamicPv" resultType="com.fun.likechat.persistence.po.ActorDynamicPv">
		SELECT 
			*
		FROM 
			t_actor_dynamic_pv 
	    <include refid="whereForPo" />
	</select>
	
	<select id="getLimitListByMap" parameterType="java.util.Map" resultType="com.fun.likechat.persistence.po.ActorDynamicPv">
		SELECT 
			*
		FROM
			t_actor_dynamic_pv 
	    <include refid="where" />
	    order by id desc limit ${limit}
	</select>	
</mapper>

